		
h1 {
	text-align: center;
	font-family: Papyrus, Fantasy;
}

body {
  background-color: tan;
}

table, th, td {
	border:1px solid black;
	text-align: center;
}

caption {
	font-size: 36px;
}